* {
   box-sizing: border-box;
   font-family: sans-serif;
   body {
    overflow: hidden;
    #timesform {
        height: 100vh;
        background-color: rgb(78, 150, 173);
        display: flex;
        justify-content: center;
        flex-direction: column;
        #timebuttons {
            // height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .input-container {
                position: relative;
                width: 6rem;
                height: 3rem;
                border: black 1px solid;
                color: white;
                border: none;
                cursor: pointer;
                input {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    z-index: 2;
                    opacity: 0;
                }
                .radio-tile {
                    background-color: rgb(6, 68, 6);
                    text-align: center;
                    padding: 20px;
                    border-radius: 5px;
                }
            }
            // #submit {
            //     background-color: bisque;
            //     width: 6rem;
            //     height: 4rem;
            //     border-radius: 5px;
            //     border: none;
            //     cursor: pointer;
            // }
        }
        .subbutton {
            // background-color: aqua;
            display: flex;
            justify-content: center;
            padding-top: 100px;
            width: 100%;
            gap: 100px;
            #button {
                // background-color: red;
                padding-left: 100px;
                width: 100px;
                height: 100px;
                #submit {
                    position: absolute;
                    background-color: bisque;
                    width: 6rem;
                    height: 4rem;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                }
            }
            #alert {
                // background-color: lightgreen;
                padding-left: 80px;
                width: 100px;
                #submitalert {
                    font-weight: bold;
                    color: rgb(6, 68, 6);
                    width: 300px;
                    transition: all 3s ease-in;
                }
            }
        }
    }
    
  }
}


/* #submit {
    position: absolute;
    background-color: bisque;
    width: 6rem;
    height: 4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}*/